body{
    background-color: aqua;
}
.container{
    height: 300px;
    width: 500px;
    border: 10px solid rgb(43, 226, 58);
    border-radius: 20px;
    margin: 50px auto;
    background-color: rgb(69, 51, 230);
}
h1{
    text-align: center;
    color: rgb(94, 78, 60);
}
#number{
height: 25px;
width: 250px;
margin: auto;
margin-top: 80px;
border: 1px solid yellow;
text-align: center;
background-color: yellow;
border-radius: 5px;
}
#increment{
  height: 25px;  
  width: 100px;
  margin-top: 60px;
  margin-left: 125px;
  border-radius: 5px;
}
#decrement{
    height: 25px;
    width: 100px;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 50px;
    
}